<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi sitio web{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen flex flex-col">
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <p>Hola {{ user.username }}</p>
                    <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container mx-auto px-4 flex-grow">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-gray-100 py-4 mt-8">
        <div class="container mx-auto px-4 text-center">
            <p class="text-gray-600">&copy; <span id="current-year"></span> Coffee Shop. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
