<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi sitio web{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <p>Hola {{ user.username }}</p>
                    <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container mx-auto px-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
